.todoForm {
  
   margin-top: 80px;
   text-align: center;
   width: 50%;
   /* border: 1px solid black; */
   margin: auto;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  

}
.AddTask{

  /* border:  1px solid red; */
  width: 100%;
  display: flex;
}

